$font-family: 'Nunito', sans-serif;

$primary: #337483;
$success: #77C288;
$error: #CA2029;
$warning: #EFA614;
$secondary: #8C8C8C;
$border-color: #D9D9D9;
$text-color: #595959;
$placeholder-color: #BFBFBF;
$label-color: #262626;

$s-font-size: 12px;
$main-font-size: 14px;