.form {
  min-width: 320px;

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 4px;
    min-height: 32px;
    padding: 0;
    margin-bottom: 20px;
  }

  &__title {
    padding: 15px 10px;
    border-bottom: 1px solid $border-color;

    & h2 {
      margin: 0;
    }
  }

  &__content {
    padding:15px 10px;
  }

  &__footer {
    text-align: right;
    padding: 15px 10px;
    border-top: 1px solid $border-color;
  }

  &__input {
    color: $text-color;
    width: 100%;
    padding: 7px 9px;
    border: none;
    outline: none;
    font-size: $main-font-size;
    line-height: 1;
    border-radius: 4px;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__label {
    color: $label-color;
    display: block;
    padding-bottom: 8px;
  }

  &__button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__error {
    position: absolute;
    color: $error;
    font-size: $s-font-size;
    bottom: -17px;
  }
}